extends partials/templates/_template.pug

block content
  +b.SECTION.page--reviews
    // Content
    +b.SECTION.content.container
      +e.H1.title Нас рекомендуют
      +e.text
        p In tegenstelling tot wat algemeen aangenomen wordt is Lorem Ipsum niet zomaar willekeurige tekst. het heeft zijn wortels in een stuk klassieke latijnse literatuur uit 45 v.Chr. en is dus meer dan 2000 jaar oud. Richard McClintock, een professor latijn aan de Hampden-Sydney College in Virginia, heeft één van
    // Gratitude
    include partials/components/_gratitude.pug  
    // Reviews
    include partials/components/_reviews.pug
    // Clients
    include partials/components/_clients.pug
    // Questions section
    include partials/components/_questions-section.pug




