extends partials/templates/_template.pug
include partials/abstracts/mixins/_news-item.pug

block content
  +b.SECTION.page--news
    // News
    +b.SECTION.news
      +e.choise
        .container
          .row
            .col-xs-12.col-lg-10.offset-lg-1
              +e.H1.title Новости
              +b.choise--news
                +e.text Выберите тему:
                +e.UL.list 
                  +e.item
                    +e.link(href="#") Название темы
                  +e.slash /
                  +e.item
                    +e.link(href="#") Тема
                  +e.slash /
                  +e.item 
                    +e.link(href="#") Длинное название темы
                  +e.slash /
                  +e.item 
                    +e.link(href="#") Очень очень очень длинное название темы
                  +e.slash /
                  +e.item 
                    +e.link(href="#") Тема
                  +e.slash /   
                  +e.item 
                    +e.link(href="#") Название темы
                  +e.slash /
                  +e.item 
                    +e.link(href="#") Название темы
                  +e.slash /
                  +e.item 
                    +e.link(href="#") Название темы
      +e.news
        .container          
          +newsItem("Оборот табачных изделий будет регулироваться новым стандартом", "11 июня, 2015", "news2.jpg", "news2", "В Российской Федерации может быть изменен порядок допуска лекарственных средств на отечественный рынок – соответствующий документ был подготовлен Министерством здравоохранения Российской Федерации и в данный момент проходит этап общественного обсуждения. Согласно обсуждаемому документу, лекарственные средства не должны .....")
          +newsItem("Мясо и молоко теперь имеют свой собственный технический регламент Таможенного Союза", "11 июня, 2015", "news3.jpg", "news3", "Официальная пресс-служба Федерального агентства по техническому регулированию и метрологии 15 августа заявило о принятии нового национального стандарта для добровольной сертификации органических продуктов ГОСТ Р 57022-2016 «Продукция органического производства. Порядок проведения добровольной сертификации»... ")
          +newsItem("Оборот табачных изделий будет регулироваться новым стандартом", "11 июня, 2015", "news2.jpg", "news2", "В Российской Федерации может быть изменен порядок допуска лекарственных средств на отечественный рынок – соответствующий документ был подготовлен Министерством здравоохранения Российской Федерации и в данный момент проходит этап общественного обсуждения. Согласно обсуждаемому документу, лекарственные средства не должны .....")
          +newsItem("Мясо и молоко теперь имеют свой собственный технический регламент Таможенного Союза", "11 июня, 2015", "news3.jpg", "news3", "Официальная пресс-служба Федерального агентства по техническому регулированию и метрологии 15 августа заявило о принятии нового национального стандарта для добровольной сертификации органических продуктов ГОСТ Р 57022-2016 «Продукция органического производства. Порядок проведения добровольной сертификации»... ")
        +b.SECTION.pagination
          +e.A.prev(href="page-reviews.html")
          +e.A.number--current(href="page-reviews.html") 1
          +e.A.number(href="page-reviews.html") 2
          +e.A.number(href="page-reviews.html") 3
          +e.A.next(href="page-reviews.html")

      .container
        .row
          .col-xs-12.col-lg-6.offset-lg-3 
            // Subscribe section
            include partials/components/_subscribe-section.pug

    // Questions section
    include partials/components/_questions-section.pug







 





