extends partials/templates/_template.pug

block content
  +b.SECTION.page--import
    // Promo -- import
    +b.SECTION.promo
      .container
        .row
          .col-xs-12.col-lg-8
            +e.bg
            +e.wrapper
              +e.H1.title Вам нужно оформить документы на импорт?
              +e.text 
                p С нами вы ускорите и упростите выполнение этой задачи в разы.  Мы возьмем на себя самое сложное и сделаем свою работу в срок и качественно, а вам для этого не потребуется даже выйти из своего офиса
          .col-xs-12.col-lg-4
            +e.form
              include partials/components/_form--application.pug  

    // Import
    +b.SECTION.import
      .container
        .row
          .col-xs-12.col-lg-3
            +e.H2.title Импорт
          .col-xs-12.col-lg-9
            +e.content
              +b.strategy     
                +e.UL.list
                  +e.item 
                    +e.number 
                      span 1
                      +e.arrow
                    +e.text 
                      p.underline Консультация и помощь в подготовке документов
                  +e.item
                    +e.number 
                      span 2
                      +e.arrow
                    +e.text 
                      p Разработка технического описания, необходимого для предоставления в таможенные органы, для пересечения границы РФ (при необходимости)        
                  +e.item 
                    +e.number 
                      span 3
                      +e.arrow
                    +e.text 
                      p.underline Подбор кода ТН ВЭД ТС
                      p
                      p ТНВЭД ТС – это код, который согласно товарной номенклатуре внешне-экономической деятельности. По коду ТНВЭД происходит идентификация товара ввозимого или вывозимого при импорте/экспорте на территорию Таможенного союза.
                  +e.item
                    +e.number 
                      span 4
                      +e.arrow
                    +e.text 
                      p Консультация по вопросу оформления разрешительных документов (ссылка на Услуги), необходимых для вывоза и законно реализации продукции        
                  +e.item 
                    +e.number 
                      span 5
                      +e.arrow
                    +e.text 
                      p.underline Расчет таможенных платежей
                  +e.item
                    +e.number 
                      span 6
                    +e.text 
                      p Расчет транспортировки груза от склада отправителя до склада получателя
                  +e.item
                    +e.number
                    +e.text 
                      p.bold Если вас не интересует весь пакет "Импорт", вы можете оформить заказ на часть интересующих вас услуг
              +b.example
                +e.H3.title 
                  +e.A.link(href="#") Пример расчета
                +e.text-block
                  +e.upperline
                  +e.text
                    p Пример расчета таможенных платежей в режиме «ИМПОРТ» :
                    p -Груз: Муранское стекло (бусины стеклянные).
                    p Не подлежат сертификации  и декларированию (как на бижутерию для взрослых или сувениры). 
                    ul 
                      li Оформим отказное письмо для прохождения таможни и законной реализации продукции в Таможенном союзе.
                      ul
                        li - КОД ТН ВЭД ТС: 7018101900
                        li - Страна происхождения: Италия
                        li - Ставка ввозной таможенной пошлины: 15%
                        li - НДС: 18%
                        li - Цена за единицу товара: 01, евро
                        li - Количество: 10 000 шт.
                        li - Таможенная стоимость 0,1 Х 10 000 = 1000 евро
                      p При курсе 1 евро  = 70  руб. общая таможенная стоимость данной партии товаров составит 70 × 1000 = 70 000 руб.
                      li Проведем поэтапный расчет:
                      ul
                        li Таможенный сбор за таможенное оформление составит 500 рублей (согласно таблице таможенных сборов за таможенное оформление)------можно сделать активной
                        li Таможенная пошлина: Расчет производится от таможенной стоимости: 70 000×15% = 10 500 рублей
                        li НДС (18%): Рассчитаем налогооблагаемую базу по НДС. Она состоит из таможенной стоимости и суммы таможенных пошлин (акцизом данный товар не облагается): 70 000 + 10 500 = 80 500 руб.
                      li Теперь рассчитаем сумму налога на добавленную стоимость: 80 500 × 18% = 14 490 руб. Это сумма НДС для уплаты в бюджет. Теперь рассчитаем общую сумму таможенных платежей: 500 + 10 500 + 14 490 = 25 490 руб. Это сумма таможенных платежей за ввоз 10000 бусин муранского стекла.
                  +e.lowerline
    // Advantages
    include partials/components/_advantages.pug
    // Clients section
    include partials/components/_clients-section.pug
    // Faq
    include partials/components/_faq.pug
    // Questions section
    include partials/components/_questions-section.pug
    // Contacts section
    include partials/components/_contacts-section.pug

