extends partials/templates/_template.pug

block content
  +b.SECTION.page--export
    // Promo -- export
    +b.SECTION.promo
      .container
        .row
          .col-xs-12.col-lg-8
            +e.bg
            +e.wrapper
              +e.H1.title Вам нужно оформить документы на экспорт?
              +e.text 
                p С нами вы ускорите и упростите выполнение этой задачи в разы.  Мы возьмем на себя самое сложное и сделаем свою работу в срок и качественно, а вам для этого не потребуется даже выйти из своего офиса
          .col-xs-12.col-lg-4
            +e.form
              include partials/components/_form--application.pug  

    // Export
    +b.SECTION.export(itemscope, itemtype="http://schema.org/Service")
      .container
        .row
          .col-xs-12.col-lg-3
            +e.H2.title(itemprop="serviceType") Экспорт
          .col-xs-12.col-lg-9
            +e.content
              +b.strategy     
                +e.UL.list
                  +e.item 
                    +e.number 
                      span 1
                      +e.arrow
                    +e.text 
                      p.underline Консультация и помощь в подготовке документов
                  +e.item
                    +e.number 
                      span 2
                      +e.arrow
                    +e.text 
                      p Разработка технического описания, необходимого для предоставления в таможенные органы, для пересечения границы РФ (при необходимости)        
                  +e.item 
                    +e.number 
                      span 3
                      +e.arrow
                    +e.text 
                      p.underline Подбор кода ТН ВЭД ТС
                      p
                      p ТНВЭД ТС – это код, который согласно товарной номенклатуре внешне-экономической деятельности. По коду ТНВЭД происходит идентификация товара ввозимого или вывозимого при импорте/экспорте на территорию Таможенного союза.
                  +e.item
                    +e.number 
                      span 4
                      +e.arrow
                    +e.text 
                      p Консультация по вопросу оформления разрешительных документов (ссылка на Услуги), необходимых для вывоза и законно реализации продукции        
                  +e.item 
                    +e.number 
                      span 5
                      +e.arrow
                    +e.text 
                      p.underline Расчет таможенных платежей
                  +e.item
                    +e.number 
                      span 6
                    +e.text 
                      p Расчет транспортировки груза от склада отправителя до склада получателя
                  +e.item
                    +e.number
                    +e.text 
                      p.bold Если вас не интересует весь пакет "Экспорт", вы можете оформить заказ на часть интересующих вас услуг
              +b.example
                +e.H3.title 
                  +e.A.link(href="#") Пример расчета
                +e.text-block
                  +e.upperline
                  +e.text
                    p Пример расчета таможенных платежей в режиме «ЭКСПОРТ» :
                    p -Груз: Муранское стекло (бусины стеклянные).
                    p Не подлежат сертификации  и декларированию (как на бижутерию для взрослых или сувениры). 
                    ul 
                      li Оформим отказное письмо для прохождения таможни и законной реализации продукции в Таможенном союзе.
                      ul
                        li - КОД ТН ВЭД ТС: 7018101900
                        li - Страна происхождения: Италия
                        li - Цена за единицу товара: 10 рублей
                        li - Количество: 10 000 шт.
                        li - Таможенная стоимость 10 Х 10 000 = 100 000 рублей
                      li Проведем расчет:
                      ul
                        li Таможенный сбор за таможенное оформление составит 500 рублей (согласно таблице таможенных сборов за таможенное оформление)------можно сделать активной
                      li По данному расчету больше никаких таможенных платежей не предусмотрено.
                  +e.lowerline
              +b.additional
                +e.H3.title Дополнительная услуга
                +e.UL.list
                  +e.item Предоставление юридического лица на территории РФ, выступающего в качестве отправителя.
                  +e.item Бесплатная регистрация фирмы в ФТС РФ, как участника ВЭД 

    // Advantages
    include partials/components/_advantages.pug
    // Clients section
    include partials/components/_clients-section.pug
    // Faq
    include partials/components/_faq.pug
    // Questions section
    include partials/components/_questions-section.pug
    // Contacts section
    include partials/components/_contacts-section.pug



