extends partials/templates/_template.pug

block content
  +b.SECTION.page--about
    // Promo -- about
    +b.SECTION.promo(itemscope, itemtype="http://schema.org/AboutPage")
      .container
        .row.row-s-stretch
          .col-xs-12.col-lg-7
            +b.about
              +e.H1.title(itemprop="name") О компании 
              +e.text(itemprop="mainContentOfPage")
                p In tegenstelling tot wat algemeen aangenomen wordt is Lorem Ipsum niet zomaar willekeurige tekst. het heeft zijn wortels in een stuk klassieke latijnse literatuur uit 45 v.Chr. en is dus meer dan 2000 jaar oud. Richard McClintock, een professor latijn aan de Hampden-Sydney College in Virginia, heeft één van de meer obscure latijnse woorden, consectetur, uit een Lorem Ipsum passage opgezocht, en heeft tijdens het zoeken naar het woord in de klassieke literatuur de onverdachte bron ontdekt. Lorem Ipsum komt uit de secties 1.10.32 en 1.10.33 van "de Finibus Bonorum et Malorum" (De uitersten van goed en kwaad) door Cicero, geschreven in 45 v.Chr. Dit boek is een verhandeling over de theorie der ethiek, erg populair tijdens de renaissance. De eerste regel van Lorem Ipsum, "Lorem ipsum dolor sit amet..", komt uit een zin in sectie 1.10.32. 
                p Het standaard stuk van Lorum Ipsum wat sinds de 16e eeuw wordt gebruikt is hieronder, voor wie er interesse in heeft, weergegeven. Secties 1.10.32 en 1.10.33 van "de Finibus Bonorum et Malorum" door Cicero zijn ook weergegeven in hun exacte.
          .col-xs-12.col-lg-4.offset-lg-1
            +e.form
              include partials/components/_form--application.pug   

    +b.SECTION.promo-facts
      .container
        .row
          +e.item.col-xs-12.col-lg-4
            +e.block
              +e.text Выполняем
                span.figure 100
                =" заказов в месяц"
          +e.item.col-xs-12.col-lg-4
            +e.block
              +e.text С
                span.figure 1998
                =" года на рынке"        
          +e.item.col-xs-12.col-lg-4 
            +e.block
              +e.text Более
                span.figure 1500
                =" постоянных клиентов"

    // Daily working
    include partials/components/_daily-working.pug
    // Clients section
    include partials/components/_clients-section.pug    
    // How we work
    include partials/components/_how-we-work.pug
    // Reviews section
    include partials/components/_reviews-section.pug
    // Questions section
    include partials/components/_questions-section.pug
    // Contacts section
    include partials/components/_contacts-section.pug


