.btn{
  font-size: $font-size-btn;
  text-transform: uppercase;
  font-family: $font-family-bold;
  display: inline-block;
  border: none;
  outline: none;
  background-color: $orange;
  color: $text-color-white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35); 
  padding: 10px 30px;
  margin: 0;
  &:hover, &:focus, &:active{
    color: $text-color-white;
    text-decoration: none;
    background-color: lighten($orange, 10%);
  }
  &--header{
    padding: 20px 0; 
    width: calc(100% - 32px);
    margin-left: 32px;
    box-shadow: none;
    text-align: center;
  }
  &--blue{
    background-color: $blue;
    &:hover, &:focus, &:active{
      background-color: lighten($blue, 10%);
    }
  }
  &--pale{
    background-color: $pale;
    color: $text-color;
    &:hover, &:focus, &:active{
      color: $text-color;
      background-color: darken($pale, 10%);
    }
  }
  &--form{
    margin: 20px 15px; 
  }

  &--whatsapp{
    box-shadow: none;
    padding: 0;
    @include sprite($s-social-whatsapp);
  } 
  &--viber{
    box-shadow: none;
    padding: 0;
    @include sprite($s-social-viber);
  }
  &--vk{
    box-shadow: none;
    padding: 0;
    @include sprite($s-social-vk);
  }
}

.up{
  display: none;
  position: fixed;
  font-size: $font-size-smallest;
  font-family: $font-family;
  text-transform: uppercase;
  bottom: 30px;
  right: 30px;
  padding: 3px 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
  background-color: $grey;
  transition: none; 
  &:after{
    content: "";
    margin-left: 5px;
    display: inline-block;
    @include sprite($s-up); 
  }

  &:hover, &:focus, &:active{
    color: $text-color-white;
    background-color: $blue;
    &:after{
      @include sprite($s-up-white); 
    }
  }
}

.anchor{
  top: -50px;
  width: 100%;
  display: block;
  cursor: default;
  position: absolute; 
  @include mq($from:xs, $until:lg){
    top: -30px;
  } 
}