.clients-section{
  margin-top: 80px;
  // margin-bottom: 45px;
  text-align: center;

  &__title{
    text-transform: uppercase;
    margin: 0 0 60px;
    font-size: $font-size-title;
    font-family: $font-family-extrabold;
    font-weight: normal;
  }
  &__gallery{
    padding: 0 80px;
  }
  &__slide{
    margin: 0 auto;
    padding: 0 40px;
    @include mq($from:xs, $until:sm){
      padding: 0;
    }
    img{
      margin: 0 auto;
    }
  }
  &__page-link{
    margin: 0 100px 70px;
    @include mq($from:xs, $until:md){
      margin: 0 20px 20px;
    }
  }
  &__text{
    font-size: $font-size-list;
    font-family: $font-family--roboto-light;
    margin: 0 0 50px;
  }
}
