.content{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;

  &__title{
    text-transform: uppercase;
    font-family: $font-family;
    margin: 25px 0 45px;
    font-size: $font-size-title;
    font-weight: $bold;
  }
  &__text{
    padding-left: 100px;
    padding-right: 100px;
    @include mq($from:xs, $until:md){
      padding: 0;
    }
  }  
}
