.daily-working{
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;

  &__title{
    text-transform: uppercase;
    font-family: $font-family;
    margin: 25px 0 45px;
    font-size: $font-size-title;
    font-weight: $bold;
  }

  &__text{
    padding: 0 220px;
    margin-bottom: 55px;
    @include mq($from:md, $until:lg){
      padding: 0 100px;
    }
    @include mq($from:xs, $until:md){
      padding: 0;
    }
  }
  &__slide{
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
