.documents-execution{
  margin-bottom: 140px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -moz-linear-gradient( 59deg, rgba(54,107,166, .89) 0%, rgba(54,88,166, .89) 38%, rgba(54,107,166, .89) 100%);  
    background-image: -webkit-linear-gradient( 59deg, rgba(54,107,166, .89) 0%, rgba(54,88,166, .89) 38%, rgba(54,107,166, .89) 100%);  
    background-image: -ms-linear-gradient( 59deg, rgba(54,107,166, .89) 0%, rgba(54,88,166, .89) 38%, rgba(54,107,166, .89) 100%);  
    background-image: linear-gradient( 59deg, rgba(54,107,166, .89) 0%, rgba(54,88,166, .89) 38%, rgba(54,107,166, .89) 100%);  
  }
  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: contain;
  }

  @include mq($from:xs, $until:lg){
    margin-bottom: 60px;
  }

  &__specialist{
    background-color: $white;
    box-shadow: $box-shadow;
    margin-top: -40px;
    margin-bottom: -70px;
    padding: 30px 50px 30px 60px;
    @include mq($from:xs, $until:sm){
      padding: 30px 20px;
    }
  }
  &__title{
    margin: 60px 0 40px;
    text-transform: uppercase;
    font-family: $font-family-extrabold;
    font-weight: normal;
    font-size: $font-size-title;
    position: relative;
    line-height: 1.3;
    &:before{
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      transform: translateY(-100%);
      @include sprite($s-talks);
    }
  }
}

.manager{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__wrapper{
    margin-top: 10px;
  }
  &__img{
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__info{
    margin-left: 60px;
    color: $text-color;
    @include mq($from:lg, $until:xl){
      margin-left: 0;
    }
    @include mq($from:xs, $until:md){
      margin-left: 0;
    }
  }
  &__name{
    margin: 15px 0;
    text-align: center;
    font-size: $font-size-promo;  
    font-weight: $bold;
  }
  &__link{
    font-size: $font-size-list;
    display: block;
    margin-bottom: 20px;
    color: $text-color;
    &--tel{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-tel);
      }
    }
    &--skype{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-skype);
      }
    }
    &--icq{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-icq);
      }
    }
  }
  .btn{
    margin-top: 30px;
  }
}


.self-execution{
  padding: 80px 0 0;
  @include mq($from:xs, $until:lg){
    padding-bottom: 50px;
  }  
  &__title{
    margin: 50px 0 50px;
    text-transform: uppercase;
    font-family: $font-family-extrabold;
    font-weight: normal;
    font-size: $font-size-title;
    position: relative;
    color: $text-color-white;  
    line-height: 1.3;
    &:before{
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      transform: translateY(-100%);
      @include sprite($s-docs);
    }
    &:after{
      content: '';
      position: absolute;
      top: 40%;
      right: -10px;
      transform: translateX(-100%);
      @include sprite($s-arrow);
    }
  }
}
