.facts{
  position: relative;
  z-index: 1;
  font-family: $font-family;

  &__list{
    padding-left: 0;
    margin: 120px 0 0;
    list-style-type: none;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    @include mq($from:xs, $until:md){
      width: auto;
    }
  }
  &__item{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 20px;
    &:nth-of-type(1){
      padding-left: 0;
      border-bottom: 1px solid $grey;
      border-right: 1px solid $grey;
    }
    &:nth-of-type(2){
      border-bottom: 1px solid $grey;
    }
    &:nth-of-type(3){
      padding-left: 0;
      border-right: 1px solid $grey;
    }
  }
  &__text{
    line-height: 1.5;
    font-family: $font-family-light;
    font-weight: normal;
    font-size: $font-size-promo;
    text-transform: uppercase;
    color: $text-color-white;
    display: inline-block;
    max-width: 280px;
    @include mq($from:xs, $until:sm){
      font-size: $font-size-list;
    } 
    span{
      // font-style: italic;
      font-size: 2em;
      font-weight: $bold;
    }
  }


  &--index{
    .facts__list{
      margin: 60px auto 0;
    }
    .facts__item{
      padding-right: 20px;
      padding-bottom: 20px;
      padding-top: 30px;
      &:nth-of-type(1),
      &:nth-of-type(2){
        padding-top: 10px;
      }
    }
    .facts__text{
      position: relative;
      font-size: $font-size;
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        width: 45px;
        height: 2px;
        background-color: $white; 
        @include mq($from:xs, $until:md){
          top: 60px;
        }   
      }
    }
    .figure{
      font-family: $font-family--lato;
      font-size: $font-size-figures-big;
      display: block;
      margin-bottom: 20px;
      @include mq($from:xs, $until:md){
        font-size: $font-size-figures;
      }
      &:before{
        content: '';
        display: inline-block;
        margin-right: 20px;
      }

    }
    .facts__item:nth-of-type(1){
      .figure:before{
        @include sprite($s-approach-people);
      }
    }
    .facts__item:nth-of-type(2){
      .figure:before{
        @include sprite($s-approach-chemistry);
      }
    }
    .facts__item:nth-of-type(3){
      .figure:before{
        @include sprite($s-approach-doc);
      }
    }
    .facts__item:nth-of-type(4){
      .figure:before{
        @include sprite($s-approach-calendar);
      }
    }
  }
}