.footer{
  background-color: $blue;
  color: $text-color-white;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__logo{
    margin-top: 40px;
    @include mq($from:xs, $until:xl){
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }
  &__years{
    margin: 10px 0 0;
    text-align: right;
    @include mq($from:xs, $until:xl){
      text-align: center;
    }
  }
  &__wrapper{
    text-align: right;
    margin-bottom: 10px;
    @include mq($from:xs, $until:xl){
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__tel{
    margin: 20px 0 10px;
    @include mq($from:xs, $until:xl){
      text-align: center;
    }
  }
  &__link--tel{
    color: $text-color-white;
    font-size: $font-size-title;
    font-weight: $bold;
    display: inline-block;
    vertical-align: text-bottom;
    @include mq($from:xs, $until:sm){
      display: block;
      margin-bottom: 10px;
    }
    &:hover, &:focus {
      color: $text-color-white;
      text-decoration: underline;
    }
  }
  .btn--whatsapp{
    margin-left: 10px;
  } 
  .btn--viber{
    margin-left: 10px;
  }
  .btn--vk{
    margin-left: 10px;
  }  
  


  &__copyright{
    text-align: center;
    font-size: $font-size-small;
    color: $blue;
    margin: 0;
    padding: 30px 0;
  }
}

