.has-success{
  input, textarea{
    // color: $success;
    // outline: 2px solid $success;
    border-bottom: 1px solid $success;
  }
}
.has-error{
  input, textarea{
    // color: $error;
    // outline: 2px solid $error;
    border-bottom: 1px solid $error;
  }
  .help-block{
    display: block;
    color: $error;
  }
}
.help-block{
  display: none;
  font-size: $font-size-small;
  margin: 0;
  padding: 15px;
}

.form-group{

}

