.glossary{
  margin-top: -10px;
  margin-bottom: 60px;

  &__title{
    text-align: center;
    text-transform: uppercase;
    font-family: $font-family;
    margin: 0 0 40px;
    font-size: $font-size-title;
    font-family: $font-family-extrabold;
    font-weight: normal;
  }
  &__list{
    padding: 0 70px 20px;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: $font-family-extrabold;
    font-weight: normal;
    font-size: $font-size-list;
    @include mq($from:xs, $until:lg){
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 0 20px 20px;
    }
  }
  &__item{
    padding: 0 5px;
  }
  &__link{
    display: inline-block;
    &:hover, &:focus {
      text-decoration: underline;
    }
    &--active{
      transform: scale(1.6);
      color: $blue;
    }
  }
}

.glossary-articles{

  &__list{
    padding-left: 0;
    margin: 20px 0 30px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    flex: 0 0 15%;
    max-width: 15%;
    min-height: 45px;
    @include mq($from:md, $until:lg){
      flex: 0 0 22%;
      max-width: 22%;
    }
    @include mq($from:sm, $until:md){
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }
  &__link{
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
