.header{
  font-size: $font-size-menu;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__logo{
    padding-top: 35px;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    @include mq($from:xs, $until:xl){
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0;
      text-align: center;
      padding-bottom: 30px;
    }
  }
  &__wrapper{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 100px;
    @include mq($from:xs, $until:xl){
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0;
    }
  }
  &__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid $grey;
    @include mq($from:xs, $until:md){
      border: none;
    }
  }
  &__block{
    &--btn{
      flex: 0 0 30%;
      max-width: 30%;
      text-align: right;
      position: relative;
      @include mq($from:xs, $until:md){
        flex: 0 0 100%;
        max-width: 200px;
        margin: 10px auto;
      }
    }
    &--contacts{
      flex: 0 0 70%;
      max-width: 70%;
      padding-right: 40px; 
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      @include mq($from:xs, $until:md){
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        font-size: 0.9em;
      }
    }
  }
  &__address-wrapper{
    text-align: left;
    @include mq($from:xs, $until:md){
      padding: 0 5px;
    }
    @include mq($from:xs, $until:sm){
      flex: 0 0 65%;
      max-width: 65%;
      font-size: 0.95em;
      margin-bottom: 10px;
    }
  }
  &__time-wrapper{
    text-align: center;
    @include mq($from:xs, $until:md){
      padding: 0 5px;
    }
    @include mq($from:xs, $until:sm){
      flex: 0 0 35%;
      max-width: 35%;
      font-size: 0.95em;
      text-align: right;
      margin-bottom: 10px;
    }
  }
  &__links-wrapper{
    text-align: right;
    @include mq($from:xs, $until:md){
      padding: 0 5px;
    }
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      margin: 10px 0;
    }
  }
  
  &__line{
    text-transform: uppercase;
  }
  &__link{
    display: block;
    &--tel{
      font-size: 1.25em;
      font-weight: $bold;
    }
  }

  .btn--whatsapp{
    position: absolute;
    top: 0;
    left: 0;
  } 
  .btn--viber{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

