.how-we-work{
  margin-top: 40px;
  text-align: center;

  &__title{
    text-transform: uppercase;
    font-family: $font-family;
    margin: 0 0 95px;
    font-size: $font-size-title;
    font-family: $font-family-extrabold;
    font-weight: normal;
  }
  &__inner{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
      background-color: $blue;
      z-index: -1;
      @include mq($from:xs, $until:md){
        content: none;
      }
    }
  }
  &__list{
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
  }
  &__item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 80px;
    }

    &--white{
      background-color: $white;
      padding-left: 60px;
      padding-right: 60px;
      @include mq($from:xs, $until:xl){
        padding-left: 50px;
        padding-right: 50px;
      }

      .how-we-work__arrow{
        z-index: 3;
        border-left: 100px solid $white;
      }
      .how-we-work__number{
        background-color: $grey;
      }
      .how-we-work__icon{
        @include sprite($s-work-tel); 
      }
      .how-we-work__content{
        position: relative;
        z-index: 4;
      }
    }
    &--grey{
      background-color: $grey;
      padding-left: 150px;
      padding-right: 150px;
      @include mq($from:xs, $until:xl){
        padding-left: 50px;
        padding-right: 50px;
      }
      .how-we-work__arrow{
        z-index: 1;
        border-left: 100px solid $grey;
      }
      .how-we-work__icon{
        @include sprite($s-work-mail); 
      }
      .how-we-work__content{
        position: relative;
        z-index: 2;
      }
    }
    &--blue{
      background-color: $blue;
      padding-left: 90px;
      padding-right: 90px;
      padding-left: 120px;
      padding-right: 0;
      z-index: 0;
      @include mq($from:xs, $until:xl){
        padding-left: 50px;
        padding-right: 50px;
      }

      .how-we-work__icon{
        @include sprite($s-work-plane); 
      }
      .how-we-work__text{
        color: $text-color-white;
      }      
    }
  }
  &__arrow{
    position: absolute;
    top: 0;
    // right: 0;
    right: 100px;
    @include transition();
    transform: translateX(100%);
    border: 112px solid transparent;
    @include mq($from:xs, $until:xl){
      display: none;
    }    
  }
  &__number{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%)  rotate(45deg);
    font-size: $font-size-figures;
    font-weight: $bold;
    color: $orange;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: $paler;
    span{
      display: block;
      width: 55px;
      height: 55px;
      line-height: 55px;
      transform: rotate(-45deg);
    }
  }
  &__content{
    position: relative;
  }
  &__icon{
    font-family: $font-family--roboto;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: $font-size-promo;
    text-align: left;
    position: absolute;
    top: -30px;
    left: 0;
    transform: translateY(-50%);
    span{
      position: absolute;
      left: 45px;
      top: 0;
      display: block;
      width: 300px;
      @include mq($from:xs, $until:lg){
        display: none;
      }      
    }
  }
  &__text{
    margin-top: 15px;
    font-family: $font-family-bold;
    font-weight: normal;
    text-transform: uppercase;
    font-size: $font-size-list;
    text-align: left;
  }
}
