.nav{
  font-family: $font-family-bold;
  font-weight: normal;
  text-transform: uppercase;
  margin: 12px 0;
   
  @include mq($from:xs, $until:md){
    margin: 0 0 20px;
  }

  &__hamburger{
    display: none;
    text-align: center;
    @include mq($from:xs, $until:md){
      display: block;
    }
  } 
  &__list{
    padding-left: 0;     
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @include mq($from:xs, $until:md){
      text-align: center;
    }    
  }
  &__item{
    position: relative;
    @include mq($from:xs, $until:md){
      margin: 5px 0;
    }
    &--dropdown{
      &:hover{
        .nav__sublist{
          display: block;
        }        
      }
    }
  }
  &__link{
    display: inline-block;
    padding: 10px 0;
    &--search{
      margin-top: 7px;
      @include sprite($s-loupe); 
    }
  }

  &__sublist{
    display: none;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    background-color: $white;
    border: 1px solid $blue;
    width: 180px;
    padding: 5px 10px;
    @include mq($from:xs, $until:md){
      position: static;
      margin: 0 auto;
    }    
  }



  &--header{
    .nav__list{
      @include mq($from:xs, $until:md){
        display: none;
      }       
    }    
  }
  &--footer{
    margin: 15px 0;
    .nav{
      margin-top: 10px;      
    }
    .nav__list{
      @include mq($from:xs, $until:md){
        display: block;
      }       
    } 
    .nav__item{
      margin-left: 20px;
      @include mq($from:xs, $until:lg){
        margin-left: 0;
      }
    }
    .nav__link{
      color: $text-color-white;
      &:hover, &:focus {
        color: $text-color-white;
        text-decoration: underline;
      }
    }
  }
}


.search{
  display: none;
  position: absolute;
  bottom: -5px;
  right: 30px;
  @include mq($from:xs, $until:md){
    position: static;
  }

  &__input{
    color: $text-color;
    font-weight: $light;
    width: 280px;
    padding: 8px 10px;  
    @include mq($from:xs, $until:md){
      // width: 200px;
    }

    &:hover, &:focus{
      outline: none;
    }
    &::-webkit-input-placeholder{
      color: $text-color;         
    }       
    &::placeholder{
      color: $text-color;         
    } 
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    }    
  }
}


.hamburger{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 3px;
    background-color: $orange;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: $orange;
    }
    &:before{
      transform: translateY(-250%);
    }    
    &:after{
      transform: translateY(150%);
    }    
  }
}