.our-approach{
  margin-top: 80px;
  @include mq($from:xs, $until:lg){
    text-align: center;
  }  

  &__inner{
    padding-bottom: 150px;
    background-color: $blue;
  }
  &__title{
    margin: 120px 0 50px;
    text-transform: uppercase;
    color: $text-color-white;
    font-family: $font-family-extrabold;
    font-weight: normal;
    font-size: $font-size-title;
    @include mq($from:xs, $until:lg){
      margin: 50px 0 50px;
    }
  }

  &__facts{
    @include mq($from:xs, $until:lg){
      text-align: center;
    }  
  }
  &__text{
    color: $text-color-white;
    font-family: $font-family-light;
    font-weight: normal;
    font-size: $font-size-list;
    margin-bottom: 60px;
    margin-right: 20px;
    line-height: 1.4;
  }
  &__advantages{
    margin-top: -90px;
    margin-bottom: -100px;
    flex: 0 0 100%;
    max-width: 100%;    
  }
}
