.page{
  .form__close{
    display: none;
  }
  &--reviews{
    .content{
      margin-top: 80px;
      @include mq($from:xs, $until:md){
        margin-top: 40px;
      }
    }
    .content__title{
      margin-bottom: 30px;
    }
  }
  &--front-page{
    .clients-section__page-link{
      display: block;
    }
  }  
}

