.pagination{
  text-align: center;
  color: $text-color;
  margin-top: 40px;
  margin-bottom: 40px;

  &__prev{
    margin-right: 10px;
    display: inline-block;
    @include sprite($s-arrow-small);
    transform: rotate(180deg); 
  }
  &__next{
    margin-left: 10px;
    display: inline-block;
    @include sprite($s-arrow-small);       
  }

  &__number{
    display: inline-block;
    padding: 5px 10px;
    color: $text-color;
    &:hover, &:focus, &:active{
      color: $blue;
    }
    &--current{
      color: $text-color;
      font-weight: $bold;
      &:hover, &:focus, &:active{
        color: $blue;
      }
    }
  } 
}
