.page{
  .form__close{
    display: none;
  }
  &--reviews{
    .content{
      margin-top: 80px;
    }
    .content__title{
      margin-bottom: 30px;
    }
  }
  &--front-page{
    .clients__page-link{
      display: block;
    }
  }  
}

