.promo{
  background-color: $blue;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &__content{
    flex: 0 0 66.67%;
    max-width: 66.67%;
    position: relative;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }  
  &__form{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    color: $text-color-white;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }

    .form__title{
      background-color: $blue--form;
    }
    .form__input{
      background-color: $blue--form;
      &::-webkit-input-placeholder{
        color: $text-color-white;         
      }       
      &::placeholder{
        color: $text-color-white;         
      } 
    }
    .help-block{
      background-color: $blue--form;
    }
  }
  &__bg{
    position: absolute;
    top: 25px;
    right: 0;
    height: 600px;
    width: 1500px;
    background-image: url(../img/promo-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;    
  }

  &--index{
    .promo__form{
      margin: 40px 0 50px;
      padding-left: 30px; 
      @include mq($from:xs, $until:lg){
        margin: 40px 0 0;
        padding: 0;
      }   
    }
  }
  &--about{
    .promo__form{
      margin: 80px 0 90px;
      padding-left: 30px; 
      @include mq($from:xs, $until:lg){
        margin: 40px 0 0;
        padding: 0;
      }   
    }
  }
}
