.promo{
  background-color: $blue;

  &__form{
    margin: 75px 10px;
    color: $text-color-white;
    background-image: -moz-linear-gradient( 0deg, rgba(94,149,212, .42) 0%, rgba(54,107,166, .42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgba(94,149,212, .42) 0%, rgba(54,107,166, .42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(94,149,212, .42) 0%, rgba(54,107,166, .42) 100%);
    background-image: linear-gradient( 0deg, rgba(94,149,212, .42) 0%, rgba(54,107,166, .42) 100%);

    @include mq($from:xs, $until:lg){
      text-align: center;
      margin: 50px 10px 30px;
    }

    .form__input{
      &::-webkit-input-placeholder{
        color: $text-color-white;         
      }       
      &::placeholder{
        color: $text-color-white;         
      } 
    }
    .form-group:last-of-type{
      text-align: center;
    }
  }
  &__bg{
    position: absolute;
    top: 25px;
    right: 100px;
    height: 580px;
    width: 1300px;
    transform: skewX(-20deg);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5); 
    overflow: hidden;
    z-index: 1;
    @include mq($from:xs, $until:lg){
      height: 480px;
    } 
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: -110px;
      background-image: -moz-linear-gradient( -39deg, rgba(54,88,166, .91) 0%, rgba(54,107,166, .91) 38%, rgba(75,152,206, .91) 72%, rgba(45,131,227, .91) 100%); 
      background-image: -webkit-linear-gradient( -39deg, rgba(54,88,166, .91) 0%, rgba(54,107,166, .91) 38%, rgba(75,152,206, .91) 72%, rgba(45,131,227, .91) 100%); 
      background-image: -ms-linear-gradient( -39deg, rgba(54,88,166, .91) 0%, rgba(54,107,166, .91) 38%, rgba(75,152,206, .91) 72%, rgba(45,131,227, .91) 100%); 
      background-image: linear-gradient( -39deg, rgba(54,88,166, .91) 0%, rgba(54,107,166, .91) 38%, rgba(75,152,206, .91) 72%, rgba(45,131,227, .91) 100%);  
      transform: skewX(20deg);
      z-index: 0;      
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: -110px;
      background-image: url(../img/bg4.jpg);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: 100% 100%; 
      transform: skewX(20deg); 
      z-index: -1;      
    }
  }
  &__wrapper{
    position: absolute;
    top: 50%; /* если не считается calc */
    top: calc(25px + 50%);
    transform: translateY(-50%);
    z-index: 1;
    font-family: $font-family;
    padding-right: 20%;
    @include mq($from:xs, $until:lg){
      text-align: center;
      padding-right: 0;
    }
  }
  &__title{
    margin: 0;
    line-height: $line-height-normal;
    text-transform: uppercase;
    color: $text-color-white;
    font-family: $font-family-extrabold;
    font-weight: normal;
    font-size: $font-size-supertitle;
    @include mq($from:xs, $until:xl){
      max-width: 500px;
    }
    @include mq($from:xs, $until:lg){
      text-align: center;
      max-width: inherit;
      // margin-top: 100px;
    }
    @include mq($from:xs, $until:sm){
      margin-top: 50px;
      font-size: $font-size-title;
    }
  }
  &__text{
    margin: 40px 0 40px;
    font-family: $font-family-light; 
    font-size: $font-size-promo;
    color: $text-color-white;
    line-height: $line-height-normal;
    // padding-right: 150px;
    @include mq($from:xs, $until:lg){
      padding-right: 0;
    }
  }
}




.promo-facts{
  margin-top: 135px;
  background-color: $white;
  @include mq($from:xs, $until:lg){
    margin-top: 20px;
  }

  &__item{
    font-family: $font-family;
    color: $blue;
    font-size: $font-size-list;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid $grey;
    line-height: $line-height-normal;
    &:last-of-type{
      border: none;
    }
  }
  &__block{
    width: 60%;
    margin: 0 auto;
    @include mq($from:xs, $until:lg){
      width: 100%;
    }
  }
  .figure{
    font-family: $font-family--lato;
    font-size: $font-size-figures;
  }  
}