.questions-section{
  position: relative;
  z-index: -2;
  background-color: $paler;
  @include mq($from:xs, $until:sm){
    background-color: $blue;
  }

  &__inner{
    display: flex;
    flex-wrap: wrap;
  }

  &__specialist{
    flex: 0 0 66.67%;
    max-width: 66.67%;
    position: relative;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
  &__form{
    margin: 0;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }
    @include mq($from:xs, $until:sm){
      background-color: $white;
      margin-right: 0;
      margin-left: 0;
    }
  }
  &__bg{
    position: absolute;
    top: -30px;
    right: 60px;
    height: 500px;
    width: 1500px;
    background-image: url(../img/promo-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;  
    z-index: -1;
    @include mq($from:xs, $until:xl){
      right: 0;
    }
    @include mq($from:sm, $until:md){
      height: 550px;
      right: -200px;
    }
    @include mq($from:xs, $until:sm){
      display: none;
    }
  }
  &__title{
    margin: 50px 0 30px;
    text-transform: uppercase;
    color: $text-color-white;
    font-family: $font-family;
    p{
      margin: 0;
    }
  }
  &__text{
    margin: 0 0 50px;
    font-family: $font-family;
    color: $text-color-white;
    font-size: $font-size-list;
    padding-right: 260px;
    line-height: 1.4;
    @include mq($from:xs, $until:md){
      padding-right: 0;
    }
  }
}

.specialist{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__img{
    border-radius: 50%;
    overflow: hidden;
    width: 156px;
    height: 156px;
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      max-width: 156px;
      margin: 0 auto 20px;
    }

    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__info{
    font-size: $font-size-promo;
    padding-left: 40px;
    color: $text-color-white;
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
    }
  }
  &__name{
    margin-bottom: 10px;
  }
  &__link{
    font-size: $font-size-list;
    display: block;
    margin-bottom: 10px;
    color: $text-color-white;
    &:hover, &:focus {
      color: $text-color-white;
      text-decoration: underline;
    }

    &--tel{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-tel2);
      }
    }
    &--skype{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-skype);
      }
    }
    &--icq{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-icq);
      }
    }
  }
}