.questions-section{
  margin-top: 110px;
  position: relative;
  z-index: 0;
  background-color: $paler;
  @include mq($from:xs, $until:lg){
    background-color: $blue;
    margin-top: 30px;
  }

  &__specialist{
    @include mq($from:xs, $until:lg){
      // margin-bottom: 30px;
    }
  }
  &__form{
    margin: 45px -10px 40px;
    @include mq($from:xs, $until:lg){
      background-color: $white;
      margin: 80px 0 30px;
    }
  }
  &__bg{
    position: absolute;
    top: -30px;
    right: 120px;
    height: 500px;
    width: 1300px;
    transform: skewX(-20deg);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5); 
    overflow: hidden;
    z-index: -1;

    @include mq($from:sm, $until:md){
      right: 0;
      height: 550px;
      right: -200px;
    }
    @include mq($from:xs, $until:sm){
      display: none;
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100px;
      background-image: -moz-linear-gradient( -39deg, rgba(54,88,166, .91) 0%, rgba(54,107,166, .91) 38%, rgba(75,152,206, .91) 72%, rgba(45,131,227, .91) 100%);
      background-image: -webkit-linear-gradient( -39deg, rgba(54,88,166, .91) 0%, rgba(54,107,166, .91) 38%, rgba(75,152,206, .91) 72%, rgba(45,131,227, .91) 100%);
      background-image: -ms-linear-gradient( -39deg, rgba(54,88,166, .91) 0%, rgba(54,107,166, .91) 38%, rgba(75,152,206, .91) 72%, rgba(45,131,227, .91) 100%);
      background-image: linear-gradient( -39deg, rgba(54,88,166, .91) 0%, rgba(54,107,166, .91) 38%, rgba(75,152,206, .91) 72%, rgba(45,131,227, .91) 100%);  
      transform: skewX(20deg);
      z-index: 0;      
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100px;
      background-image: url(../img/bg3.jpg);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: cover; 
      transform: skewX(20deg); 
      z-index: -1;      
    }
  }

  &__title{
    margin: 30px 0 30px;
    line-height: $line-height-normal;
    text-transform: uppercase;
    color: $text-color-white;
    font-family: $font-family-extrabold;
    font-weight: normal;
    p{
      margin: 0;
    }
  }
  &__text{
    margin: 0 0 50px;
    font-family: $font-family;
    color: $text-color-white;
    font-size: $font-size-list;
    padding-right: 260px;
    line-height: 1.4;
    @include mq($from:xs, $until:md){
      padding-right: 0;
    }
  }
}

.specialist{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__img{
    border-radius: 50%;
    overflow: hidden;
    width: 156px;
    height: 156px;
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      max-width: 156px;
      margin: 0 auto 20px;
    }

    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__info{
    font-size: $font-size-promo;
    padding-left: 40px;
    color: $text-color-white;
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
    }
  }
  &__name{
    margin-bottom: 10px;
  }
  &__link{
    font-size: $font-size-list;
    display: block;
    margin-bottom: 10px;
    color: $text-color-white;
    &:hover, &:focus {
      color: $text-color-white;
      text-decoration: underline;
    }

    &--tel{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-tel2);
      }
    }
    &--skype{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-skype);
      }
    }
    &--icq{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 15px;
        @include sprite($s-manager-icq);
      }
    }
  }
}