.reviews-section{
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;

  &__title{
    text-transform: uppercase;
    font-family: $font-family;
    margin: 25px 0 20px;
    font-size: $font-size-title;
    font-weight: $bold;
  }
  &__gallery{
    margin: 0 150px;
    padding: 0 80px;
    @include mq($from:md, $until:lg){
      margin: 0 100px;
      padding: 0 50px;
    }
    @include mq($from:xs, $until:md){
      margin: 0;
      padding: 0 20px;
    }
  }
}
.review-slide{
  width: 100%;
  &__text{
    font-family: $font-family--italic;
    font-style: italic;
    font-size: $font-size-bigger;
  }
  &__author{
    font-family: $font-family;
    font-weight: $bold;
    font-size: $font-size-list;
  }
}