.services{
  margin-top: 80px;

  &__title{
    text-align: center;
    text-transform: uppercase;
    font-family: $font-family;
    margin: 0 0 60px;
    font-size: $font-size-title;
    font-family: $font-family-extrabold;
    font-weight: normal;
    @include mq($from:xs, $until:lg){
      margin: 20px 0 40px;
    }
  }

  &__item{
    font-family: $font-family;
    margin-bottom: 80px; 
    @include mq($from:xs, $until:md){
      margin-bottom: 30px; 
    }   
  }
  &__link{
    border-left: 3px solid $blue;
    padding-left: 30px;
    text-transform: uppercase;
    font-family: $font-family-extrabold;
    font-weight: normal;   
    display: inline-block;
    line-height: 1.2;
    max-width: 300px;
    min-height: 36px;
    // margin: 10px 0 0;
    margin: 0;
    &:hover, &:focus {
      color: $text-color;
      text-decoration: underline;
    }
  }
}


.dropdown-services{
  margin: 10px 0 0;  
  font-size: $font-size-menu;
  padding-left: 33px;
  list-style-type: none;

  &__link{
    font-family: $font-family--roboto-light;
    &:hover, &:focus {
      color: $text-color;      
      text-decoration: underline;
    }
  }
}