.solution{
  position: relative;
  z-index: 1;
  font-family: $font-family;

  &__title{
    margin: 185px 0 30px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $text-color-white;
    font-family: $font-family;
    font-size: $font-size-supertitle;
    @include mq($from:xs, $until:xl){
      max-width: 500px;
    }
    @include mq($from:xs, $until:lg){
      text-align: center;
      max-width: inherit;
    }
    @include mq($from:xs, $until:sm){
      margin-top: 50px;
      font-size: $font-size-title;
    }
  }
  &__text{
    margin: 50px 0;
    font-weight: $light;
    font-size: $font-size-promo;
    color: $text-color-white;
    padding-right: 150px;
    @include mq($from:xs, $until:lg){
      padding-right: 0;
    }
  }
}