- var application = [{name: 'application', id: 'formApplication', title : 'Заполните заявку на расчет стоимости документации', application: true, text:'Мы ответим Вам на e-mail в течении часа', button: 'Рассчитать стоимость', success: 'Ваша заявка отправлена'}] 
- var question = [{name: 'question', id: 'formQuestion', title : 'Задать вопрос', question: true, text:'Мы ответим Вам на e-mail в течении часа', button: 'Спросить', success: 'Ваш вопрос отправлен'}] 
- var call = [{name: 'call', id: 'formCall', title : 'Заказать звонок', call: true, text:'Мы ответим Вам на e-mail в течении часа', button: 'Заказать звонок', success: 'Ваша заявка отправлена'}] 
- var review = [{name: 'review', id: 'formReview', title : 'Напишите отзыв о нашей работе', review: true, button: 'Отправить отзыв', success: 'Отзыв успешно отправлен'}] 

mixin form(items)
  each item in items
    +b.SECTION(class= 'form--' + item.name)
      form(action='', method='', id= item.id)
        //- +e.A.close(href='#') Закрыть
        +e.H3.title #{item.title}

        if item.application
          .form-group.field-production.required
            +e.INPUT.input(type='text', name='Продукт/услуга', placeholder='Ваш продукт или услуга*') 
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-name.required
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-email-tel.required
            +e.INPUT.input(type='text', name='Email/телефон', placeholder='Ваш e-mail или телефон*')
            p.help-block.help-block-error Ошибка заполнения поля формы           

        if item.question
          .form-group.field-name.required.has-error
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-email.required.has-success
            +e.INPUT.input(type='email', name='Email', placeholder='Ваш e-mail*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question.required
            +e.TEXTAREA.textarea(type='text', name='Ваш вопрос', placeholder='Ваш вопрос*')
            p.help-block.help-block-error Ошибка заполнения поля формы

        if item.call
          .form-group.field-name.required.has-error
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-tel.required.has-success
            +e.INPUT.input(type='tel', name='Телефон', placeholder='Контактный телефон*')
            p.help-block.help-block-error Ошибка заполнения поля формы

        if item.review
          .form-group.field-name.required.has-error
            +e.INPUT.input(type='text', name='Компания', placeholder='Ваша компания*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-email.required.has-success
            +e.INPUT.input(type='email', name='Email', placeholder='Контактный e-mail*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-review.required
            +e.TEXTAREA.textarea(type='text', name='Ваш отзыв', placeholder='Ваш отзыв*')
            p.help-block.help-block-error Ошибка заполнения поля формы

        if item.text
          +e.P.text !{item.text}

        .form-group
          +b.BUTTON.btn--form(type='submit') #{item.button}
          p.help-block.help-block-success #{item.success}
