mixin gratitudeSlide(img, alt, text)
  +e.A.slide(href="#")
    +e.img
      img(src= "img/reviews/" + img alt= alt title= alt)
    +e.text #{text}
    +e.modal
      img(src= "img/reviews/" + img alt= alt title= alt)

