mixin newsSectionItem(heading, date, img, alt)
  +b.ARTICLE.news-section-item(itemscope, itemtype="http://schema.org/Article")
    +e.img
      img(src= "img/news/" + img alt= alt title= alt itemprop="image")
    +e.wrapper
      +e.H3.heading
        a(href="single-news.html", itemprop="description") #{heading}
      +b.date(itemprop="datePublished") #{date} 
       
