/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-approach-block-free-name: 's-approach-block-free';
$s-approach-block-free-x: 124px;
$s-approach-block-free-y: 159px;
$s-approach-block-free-offset-x: -124px;
$s-approach-block-free-offset-y: -159px;
$s-approach-block-free-width: 55px;
$s-approach-block-free-height: 17px;
$s-approach-block-free-total-width: 297px;
$s-approach-block-free-total-height: 234px;
$s-approach-block-free-image: '../img/png-sprite.png';
$s-approach-block-free: (124px, 159px, -124px, -159px, 55px, 17px, 297px, 234px, '../img/png-sprite.png', 's-approach-block-free', );
$s-approach-block-mail-name: 's-approach-block-mail';
$s-approach-block-mail-x: 39px;
$s-approach-block-mail-y: 159px;
$s-approach-block-mail-offset-x: -39px;
$s-approach-block-mail-offset-y: -159px;
$s-approach-block-mail-width: 36px;
$s-approach-block-mail-height: 37px;
$s-approach-block-mail-total-width: 297px;
$s-approach-block-mail-total-height: 234px;
$s-approach-block-mail-image: '../img/png-sprite.png';
$s-approach-block-mail: (39px, 159px, -39px, -159px, 36px, 37px, 297px, 234px, '../img/png-sprite.png', 's-approach-block-mail', );
$s-approach-block-manager-name: 's-approach-block-manager';
$s-approach-block-manager-x: 47px;
$s-approach-block-manager-y: 118px;
$s-approach-block-manager-offset-x: -47px;
$s-approach-block-manager-offset-y: -118px;
$s-approach-block-manager-width: 45px;
$s-approach-block-manager-height: 35px;
$s-approach-block-manager-total-width: 297px;
$s-approach-block-manager-total-height: 234px;
$s-approach-block-manager-image: '../img/png-sprite.png';
$s-approach-block-manager: (47px, 118px, -47px, -118px, 45px, 35px, 297px, 234px, '../img/png-sprite.png', 's-approach-block-manager', );
$s-approach-block-world-name: 's-approach-block-world';
$s-approach-block-world-x: 38px;
$s-approach-block-world-y: 56px;
$s-approach-block-world-offset-x: -38px;
$s-approach-block-world-offset-y: -56px;
$s-approach-block-world-width: 39px;
$s-approach-block-world-height: 39px;
$s-approach-block-world-total-width: 297px;
$s-approach-block-world-total-height: 234px;
$s-approach-block-world-image: '../img/png-sprite.png';
$s-approach-block-world: (38px, 56px, -38px, -56px, 39px, 39px, 297px, 234px, '../img/png-sprite.png', 's-approach-block-world', );
$s-approach-calendar-name: 's-approach-calendar';
$s-approach-calendar-x: 185px;
$s-approach-calendar-y: 0px;
$s-approach-calendar-offset-x: -185px;
$s-approach-calendar-offset-y: 0px;
$s-approach-calendar-width: 39px;
$s-approach-calendar-height: 38px;
$s-approach-calendar-total-width: 297px;
$s-approach-calendar-total-height: 234px;
$s-approach-calendar-image: '../img/png-sprite.png';
$s-approach-calendar: (185px, 0px, -185px, 0px, 39px, 38px, 297px, 234px, '../img/png-sprite.png', 's-approach-calendar', );
$s-approach-chemistry-name: 's-approach-chemistry';
$s-approach-chemistry-x: 133px;
$s-approach-chemistry-y: 0px;
$s-approach-chemistry-offset-x: -133px;
$s-approach-chemistry-offset-y: 0px;
$s-approach-chemistry-width: 48px;
$s-approach-chemistry-height: 34px;
$s-approach-chemistry-total-width: 297px;
$s-approach-chemistry-total-height: 234px;
$s-approach-chemistry-image: '../img/png-sprite.png';
$s-approach-chemistry: (133px, 0px, -133px, 0px, 48px, 34px, 297px, 234px, '../img/png-sprite.png', 's-approach-chemistry', );
$s-approach-doc-name: 's-approach-doc';
$s-approach-doc-x: 81px;
$s-approach-doc-y: 45px;
$s-approach-doc-offset-x: -81px;
$s-approach-doc-offset-y: -45px;
$s-approach-doc-width: 46px;
$s-approach-doc-height: 42px;
$s-approach-doc-total-width: 297px;
$s-approach-doc-total-height: 234px;
$s-approach-doc-image: '../img/png-sprite.png';
$s-approach-doc: (81px, 45px, -81px, -45px, 46px, 42px, 297px, 234px, '../img/png-sprite.png', 's-approach-doc', );
$s-approach-people-name: 's-approach-people';
$s-approach-people-x: 96px;
$s-approach-people-y: 118px;
$s-approach-people-offset-x: -96px;
$s-approach-people-offset-y: -118px;
$s-approach-people-width: 48px;
$s-approach-people-height: 28px;
$s-approach-people-total-width: 297px;
$s-approach-people-total-height: 234px;
$s-approach-people-image: '../img/png-sprite.png';
$s-approach-people: (96px, 118px, -96px, -118px, 48px, 28px, 297px, 234px, '../img/png-sprite.png', 's-approach-people', );
$s-arrow-next-name: 's-arrow-next';
$s-arrow-next-x: 266px;
$s-arrow-next-y: 183px;
$s-arrow-next-offset-x: -266px;
$s-arrow-next-offset-y: -183px;
$s-arrow-next-width: 15px;
$s-arrow-next-height: 25px;
$s-arrow-next-total-width: 297px;
$s-arrow-next-total-height: 234px;
$s-arrow-next-image: '../img/png-sprite.png';
$s-arrow-next: (266px, 183px, -266px, -183px, 15px, 25px, 297px, 234px, '../img/png-sprite.png', 's-arrow-next', );
$s-arrow-prev-name: 's-arrow-prev';
$s-arrow-prev-x: 148px;
$s-arrow-prev-y: 118px;
$s-arrow-prev-offset-x: -148px;
$s-arrow-prev-offset-y: -118px;
$s-arrow-prev-width: 15px;
$s-arrow-prev-height: 25px;
$s-arrow-prev-total-width: 297px;
$s-arrow-prev-total-height: 234px;
$s-arrow-prev-image: '../img/png-sprite.png';
$s-arrow-prev: (148px, 118px, -148px, -118px, 15px, 25px, 297px, 234px, '../img/png-sprite.png', 's-arrow-prev', );
$s-arrow-small-name: 's-arrow-small';
$s-arrow-small-x: 288px;
$s-arrow-small-y: 212px;
$s-arrow-small-offset-x: -288px;
$s-arrow-small-offset-y: -212px;
$s-arrow-small-width: 7px;
$s-arrow-small-height: 11px;
$s-arrow-small-total-width: 297px;
$s-arrow-small-total-height: 234px;
$s-arrow-small-image: '../img/png-sprite.png';
$s-arrow-small: (288px, 212px, -288px, -212px, 7px, 11px, 297px, 234px, '../img/png-sprite.png', 's-arrow-small', );
$s-arrow-name: 's-arrow';
$s-arrow-x: 0px;
$s-arrow-y: 0px;
$s-arrow-offset-x: 0px;
$s-arrow-offset-y: 0px;
$s-arrow-width: 34px;
$s-arrow-height: 114px;
$s-arrow-total-width: 297px;
$s-arrow-total-height: 234px;
$s-arrow-image: '../img/png-sprite.png';
$s-arrow: (0px, 0px, 0px, 0px, 34px, 114px, 297px, 234px, '../img/png-sprite.png', 's-arrow', );
$s-calendar-name: 's-calendar';
$s-calendar-x: 266px;
$s-calendar-y: 212px;
$s-calendar-offset-x: -266px;
$s-calendar-offset-y: -212px;
$s-calendar-width: 18px;
$s-calendar-height: 16px;
$s-calendar-total-width: 297px;
$s-calendar-total-height: 234px;
$s-calendar-image: '../img/png-sprite.png';
$s-calendar: (266px, 212px, -266px, -212px, 18px, 16px, 297px, 234px, '../img/png-sprite.png', 's-calendar', );
$s-check-big-name: 's-check-big';
$s-check-big-x: 101px;
$s-check-big-y: 91px;
$s-check-big-offset-x: -101px;
$s-check-big-offset-y: -91px;
$s-check-big-width: 19px;
$s-check-big-height: 13px;
$s-check-big-total-width: 297px;
$s-check-big-total-height: 234px;
$s-check-big-image: '../img/png-sprite.png';
$s-check-big: (101px, 91px, -101px, -91px, 19px, 13px, 297px, 234px, '../img/png-sprite.png', 's-check-big', );
$s-check-name: 's-check';
$s-check-x: 285px;
$s-check-y: 183px;
$s-check-offset-x: -285px;
$s-check-offset-y: -183px;
$s-check-width: 12px;
$s-check-height: 10px;
$s-check-total-width: 297px;
$s-check-total-height: 234px;
$s-check-image: '../img/png-sprite.png';
$s-check: (285px, 183px, -285px, -183px, 12px, 10px, 297px, 234px, '../img/png-sprite.png', 's-check', );
$s-contacts-mail-name: 's-contacts-mail';
$s-contacts-mail-x: 72px;
$s-contacts-mail-y: 202px;
$s-contacts-mail-offset-x: -72px;
$s-contacts-mail-offset-y: -202px;
$s-contacts-mail-width: 34px;
$s-contacts-mail-height: 25px;
$s-contacts-mail-total-width: 297px;
$s-contacts-mail-total-height: 234px;
$s-contacts-mail-image: '../img/png-sprite.png';
$s-contacts-mail: (72px, 202px, -72px, -202px, 34px, 25px, 297px, 234px, '../img/png-sprite.png', 's-contacts-mail', );
$s-contacts-pin-name: 's-contacts-pin';
$s-contacts-pin-x: 228px;
$s-contacts-pin-y: 37px;
$s-contacts-pin-offset-x: -228px;
$s-contacts-pin-offset-y: -37px;
$s-contacts-pin-width: 27px;
$s-contacts-pin-height: 41px;
$s-contacts-pin-total-width: 297px;
$s-contacts-pin-total-height: 234px;
$s-contacts-pin-image: '../img/png-sprite.png';
$s-contacts-pin: (228px, 37px, -228px, -37px, 27px, 41px, 297px, 234px, '../img/png-sprite.png', 's-contacts-pin', );
$s-contacts-tel-name: 's-contacts-tel';
$s-contacts-tel-x: 185px;
$s-contacts-tel-y: 83px;
$s-contacts-tel-offset-x: -185px;
$s-contacts-tel-offset-y: -83px;
$s-contacts-tel-width: 37px;
$s-contacts-tel-height: 37px;
$s-contacts-tel-total-width: 297px;
$s-contacts-tel-total-height: 234px;
$s-contacts-tel-image: '../img/png-sprite.png';
$s-contacts-tel: (185px, 83px, -185px, -83px, 37px, 37px, 297px, 234px, '../img/png-sprite.png', 's-contacts-tel', );
$s-contacts-time-name: 's-contacts-time';
$s-contacts-time-x: 228px;
$s-contacts-time-y: 0px;
$s-contacts-time-offset-x: -228px;
$s-contacts-time-offset-y: 0px;
$s-contacts-time-width: 34px;
$s-contacts-time-height: 33px;
$s-contacts-time-total-width: 297px;
$s-contacts-time-total-height: 234px;
$s-contacts-time-image: '../img/png-sprite.png';
$s-contacts-time: (228px, 0px, -228px, 0px, 34px, 33px, 297px, 234px, '../img/png-sprite.png', 's-contacts-time', );
$s-customs-1-name: 's-customs-1';
$s-customs-1-x: 0px;
$s-customs-1-y: 159px;
$s-customs-1-offset-x: 0px;
$s-customs-1-offset-y: -159px;
$s-customs-1-width: 35px;
$s-customs-1-height: 39px;
$s-customs-1-total-width: 297px;
$s-customs-1-total-height: 234px;
$s-customs-1-image: '../img/png-sprite.png';
$s-customs-1: (0px, 159px, 0px, -159px, 35px, 39px, 297px, 234px, '../img/png-sprite.png', 's-customs-1', );
$s-customs-car-name: 's-customs-car';
$s-customs-car-x: 79px;
$s-customs-car-y: 159px;
$s-customs-car-offset-x: -79px;
$s-customs-car-offset-y: -159px;
$s-customs-car-width: 41px;
$s-customs-car-height: 31px;
$s-customs-car-total-width: 297px;
$s-customs-car-total-height: 234px;
$s-customs-car-image: '../img/png-sprite.png';
$s-customs-car: (79px, 159px, -79px, -159px, 41px, 31px, 297px, 234px, '../img/png-sprite.png', 's-customs-car', );
$s-customs-doc-name: 's-customs-doc';
$s-customs-doc-x: 266px;
$s-customs-doc-y: 0px;
$s-customs-doc-offset-x: -266px;
$s-customs-doc-offset-y: 0px;
$s-customs-doc-width: 31px;
$s-customs-doc-height: 33px;
$s-customs-doc-total-width: 297px;
$s-customs-doc-total-height: 234px;
$s-customs-doc-image: '../img/png-sprite.png';
$s-customs-doc: (266px, 0px, -266px, 0px, 31px, 33px, 297px, 234px, '../img/png-sprite.png', 's-customs-doc', );
$s-customs-shield-name: 's-customs-shield';
$s-customs-shield-x: 228px;
$s-customs-shield-y: 82px;
$s-customs-shield-offset-x: -228px;
$s-customs-shield-offset-y: -82px;
$s-customs-shield-width: 31px;
$s-customs-shield-height: 35px;
$s-customs-shield-total-width: 297px;
$s-customs-shield-total-height: 234px;
$s-customs-shield-image: '../img/png-sprite.png';
$s-customs-shield: (228px, 82px, -228px, -82px, 31px, 35px, 297px, 234px, '../img/png-sprite.png', 's-customs-shield', );
$s-docs-name: 's-docs';
$s-docs-x: 81px;
$s-docs-y: 0px;
$s-docs-offset-x: -81px;
$s-docs-offset-y: 0px;
$s-docs-width: 48px;
$s-docs-height: 41px;
$s-docs-total-width: 297px;
$s-docs-total-height: 234px;
$s-docs-image: '../img/png-sprite.png';
$s-docs: (81px, 0px, -81px, 0px, 48px, 41px, 297px, 234px, '../img/png-sprite.png', 's-docs', );
$s-download-name: 's-download';
$s-download-x: 38px;
$s-download-y: 0px;
$s-download-offset-x: -38px;
$s-download-offset-y: 0px;
$s-download-width: 39px;
$s-download-height: 52px;
$s-download-total-width: 297px;
$s-download-total-height: 234px;
$s-download-image: '../img/png-sprite.png';
$s-download: (38px, 0px, -38px, 0px, 39px, 52px, 297px, 234px, '../img/png-sprite.png', 's-download', );
$s-loupe-name: 's-loupe';
$s-loupe-x: 81px;
$s-loupe-y: 91px;
$s-loupe-offset-x: -81px;
$s-loupe-offset-y: -91px;
$s-loupe-width: 16px;
$s-loupe-height: 16px;
$s-loupe-total-width: 297px;
$s-loupe-total-height: 234px;
$s-loupe-image: '../img/png-sprite.png';
$s-loupe: (81px, 91px, -81px, -91px, 16px, 16px, 297px, 234px, '../img/png-sprite.png', 's-loupe', );
$s-manager-icq-name: 's-manager-icq';
$s-manager-icq-x: 266px;
$s-manager-icq-y: 37px;
$s-manager-icq-offset-x: -266px;
$s-manager-icq-offset-y: -37px;
$s-manager-icq-width: 25px;
$s-manager-icq-height: 26px;
$s-manager-icq-total-width: 297px;
$s-manager-icq-total-height: 234px;
$s-manager-icq-image: '../img/png-sprite.png';
$s-manager-icq: (266px, 37px, -266px, -37px, 25px, 26px, 297px, 234px, '../img/png-sprite.png', 's-manager-icq', );
$s-manager-skype-name: 's-manager-skype';
$s-manager-skype-x: 266px;
$s-manager-skype-y: 156px;
$s-manager-skype-offset-x: -266px;
$s-manager-skype-offset-y: -156px;
$s-manager-skype-width: 23px;
$s-manager-skype-height: 23px;
$s-manager-skype-total-width: 297px;
$s-manager-skype-total-height: 234px;
$s-manager-skype-image: '../img/png-sprite.png';
$s-manager-skype: (266px, 156px, -266px, -156px, 23px, 23px, 297px, 234px, '../img/png-sprite.png', 's-manager-skype', );
$s-manager-tel-name: 's-manager-tel';
$s-manager-tel-x: 266px;
$s-manager-tel-y: 128px;
$s-manager-tel-offset-x: -266px;
$s-manager-tel-offset-y: -128px;
$s-manager-tel-width: 24px;
$s-manager-tel-height: 24px;
$s-manager-tel-total-width: 297px;
$s-manager-tel-total-height: 234px;
$s-manager-tel-image: '../img/png-sprite.png';
$s-manager-tel: (266px, 128px, -266px, -128px, 24px, 24px, 297px, 234px, '../img/png-sprite.png', 's-manager-tel', );
$s-manager-tel2-name: 's-manager-tel2';
$s-manager-tel2-x: 266px;
$s-manager-tel2-y: 100px;
$s-manager-tel2-offset-x: -266px;
$s-manager-tel2-offset-y: -100px;
$s-manager-tel2-width: 24px;
$s-manager-tel2-height: 24px;
$s-manager-tel2-total-width: 297px;
$s-manager-tel2-total-height: 234px;
$s-manager-tel2-image: '../img/png-sprite.png';
$s-manager-tel2: (266px, 100px, -266px, -100px, 24px, 24px, 297px, 234px, '../img/png-sprite.png', 's-manager-tel2', );
$s-question-name: 's-question';
$s-question-x: 266px;
$s-question-y: 67px;
$s-question-offset-x: -266px;
$s-question-offset-y: -67px;
$s-question-width: 21px;
$s-question-height: 29px;
$s-question-total-width: 297px;
$s-question-total-height: 234px;
$s-question-image: '../img/png-sprite.png';
$s-question: (266px, 67px, -266px, -67px, 21px, 29px, 297px, 234px, '../img/png-sprite.png', 's-question', );
$s-social-viber-name: 's-social-viber';
$s-social-viber-x: 228px;
$s-social-viber-y: 121px;
$s-social-viber-offset-x: -228px;
$s-social-viber-offset-y: -121px;
$s-social-viber-width: 32px;
$s-social-viber-height: 32px;
$s-social-viber-total-width: 297px;
$s-social-viber-total-height: 234px;
$s-social-viber-image: '../img/png-sprite.png';
$s-social-viber: (228px, 121px, -228px, -121px, 32px, 32px, 297px, 234px, '../img/png-sprite.png', 's-social-viber', );
$s-social-vk-name: 's-social-vk';
$s-social-vk-x: 0px;
$s-social-vk-y: 202px;
$s-social-vk-offset-x: 0px;
$s-social-vk-offset-y: -202px;
$s-social-vk-width: 32px;
$s-social-vk-height: 32px;
$s-social-vk-total-width: 297px;
$s-social-vk-total-height: 234px;
$s-social-vk-image: '../img/png-sprite.png';
$s-social-vk: (0px, 202px, 0px, -202px, 32px, 32px, 297px, 234px, '../img/png-sprite.png', 's-social-vk', );
$s-social-whatsapp-name: 's-social-whatsapp';
$s-social-whatsapp-x: 36px;
$s-social-whatsapp-y: 202px;
$s-social-whatsapp-offset-x: -36px;
$s-social-whatsapp-offset-y: -202px;
$s-social-whatsapp-width: 32px;
$s-social-whatsapp-height: 32px;
$s-social-whatsapp-total-width: 297px;
$s-social-whatsapp-total-height: 234px;
$s-social-whatsapp-image: '../img/png-sprite.png';
$s-social-whatsapp: (36px, 202px, -36px, -202px, 32px, 32px, 297px, 234px, '../img/png-sprite.png', 's-social-whatsapp', );
$s-talk-left-name: 's-talk-left';
$s-talk-left-x: 0px;
$s-talk-left-y: 118px;
$s-talk-left-offset-x: 0px;
$s-talk-left-offset-y: -118px;
$s-talk-left-width: 43px;
$s-talk-left-height: 37px;
$s-talk-left-total-width: 297px;
$s-talk-left-total-height: 234px;
$s-talk-left-image: '../img/png-sprite.png';
$s-talk-left: (0px, 118px, 0px, -118px, 43px, 37px, 297px, 234px, '../img/png-sprite.png', 's-talk-left', );
$s-talk-right-name: 's-talk-right';
$s-talk-right-x: 133px;
$s-talk-right-y: 76px;
$s-talk-right-offset-x: -133px;
$s-talk-right-offset-y: -76px;
$s-talk-right-width: 43px;
$s-talk-right-height: 37px;
$s-talk-right-total-width: 297px;
$s-talk-right-total-height: 234px;
$s-talk-right-image: '../img/png-sprite.png';
$s-talk-right: (133px, 76px, -133px, -76px, 43px, 37px, 297px, 234px, '../img/png-sprite.png', 's-talk-right', );
$s-talks-name: 's-talks';
$s-talks-x: 133px;
$s-talks-y: 38px;
$s-talks-offset-x: -133px;
$s-talks-offset-y: -38px;
$s-talks-width: 48px;
$s-talks-height: 34px;
$s-talks-total-width: 297px;
$s-talks-total-height: 234px;
$s-talks-image: '../img/png-sprite.png';
$s-talks: (133px, 38px, -133px, -38px, 48px, 34px, 297px, 234px, '../img/png-sprite.png', 's-talks', );
$s-up-white-name: 's-up-white';
$s-up-white-x: 285px;
$s-up-white-y: 197px;
$s-up-white-offset-x: -285px;
$s-up-white-offset-y: -197px;
$s-up-white-width: 11px;
$s-up-white-height: 7px;
$s-up-white-total-width: 297px;
$s-up-white-total-height: 234px;
$s-up-white-image: '../img/png-sprite.png';
$s-up-white: (285px, 197px, -285px, -197px, 11px, 7px, 297px, 234px, '../img/png-sprite.png', 's-up-white', );
$s-up-name: 's-up';
$s-up-x: 38px;
$s-up-y: 99px;
$s-up-offset-x: -38px;
$s-up-offset-y: -99px;
$s-up-width: 11px;
$s-up-height: 7px;
$s-up-total-width: 297px;
$s-up-total-height: 234px;
$s-up-image: '../img/png-sprite.png';
$s-up: (38px, 99px, -38px, -99px, 11px, 7px, 297px, 234px, '../img/png-sprite.png', 's-up', );
$s-work-mail-name: 's-work-mail';
$s-work-mail-x: 185px;
$s-work-mail-y: 124px;
$s-work-mail-offset-x: -185px;
$s-work-mail-offset-y: -124px;
$s-work-mail-width: 35px;
$s-work-mail-height: 26px;
$s-work-mail-total-width: 297px;
$s-work-mail-total-height: 234px;
$s-work-mail-image: '../img/png-sprite.png';
$s-work-mail: (185px, 124px, -185px, -124px, 35px, 26px, 297px, 234px, '../img/png-sprite.png', 's-work-mail', );
$s-work-plane-name: 's-work-plane';
$s-work-plane-x: 185px;
$s-work-plane-y: 42px;
$s-work-plane-offset-x: -185px;
$s-work-plane-offset-y: -42px;
$s-work-plane-width: 37px;
$s-work-plane-height: 37px;
$s-work-plane-total-width: 297px;
$s-work-plane-total-height: 234px;
$s-work-plane-image: '../img/png-sprite.png';
$s-work-plane: (185px, 42px, -185px, -42px, 37px, 37px, 297px, 234px, '../img/png-sprite.png', 's-work-plane', );
$s-work-tel-name: 's-work-tel';
$s-work-tel-x: 228px;
$s-work-tel-y: 157px;
$s-work-tel-offset-x: -228px;
$s-work-tel-offset-y: -157px;
$s-work-tel-width: 32px;
$s-work-tel-height: 32px;
$s-work-tel-total-width: 297px;
$s-work-tel-total-height: 234px;
$s-work-tel-image: '../img/png-sprite.png';
$s-work-tel: (228px, 157px, -228px, -157px, 32px, 32px, 297px, 234px, '../img/png-sprite.png', 's-work-tel', );
$spritesheet-width: 297px;
$spritesheet-height: 234px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-approach-block-free, $s-approach-block-mail, $s-approach-block-manager, $s-approach-block-world, $s-approach-calendar, $s-approach-chemistry, $s-approach-doc, $s-approach-people, $s-arrow-next, $s-arrow-prev, $s-arrow-small, $s-arrow, $s-calendar, $s-check-big, $s-check, $s-contacts-mail, $s-contacts-pin, $s-contacts-tel, $s-contacts-time, $s-customs-1, $s-customs-car, $s-customs-doc, $s-customs-shield, $s-docs, $s-download, $s-loupe, $s-manager-icq, $s-manager-skype, $s-manager-tel, $s-manager-tel2, $s-question, $s-social-viber, $s-social-vk, $s-social-whatsapp, $s-talk-left, $s-talk-right, $s-talks, $s-up-white, $s-up, $s-work-mail, $s-work-plane, $s-work-tel, );
$spritesheet: (297px, 234px, '../img/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
