include ../abstracts/bemto/bemto.pug

+b.advantages-blocks
  .container
    .row.row-xs-stretch
      +e.item.col-xs-12.col-sm-6.col-lg-3
        +e.block
          +e.text Личный менеджер для вас
      +e.item.col-xs-12.col-sm-6.col-lg-3
        +e.block
          +e.text Возможность удаленного оформления (все по e-mail)        
      +e.item.col-xs-12.col-sm-6.col-lg-3 
        +e.block
          +e.text Бесплатная доставка по всему миру
      +e.item.col-xs-12.col-sm-6.col-lg-3
        +e.block
          +e.text Работаем со всеми городами России и зарубежья


