include ../abstracts/bemto/bemto.pug

+b.advantages-customs
  .container
    +e.H2.title Таможенные преимущества
    .row
      +e.UL.list.col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        +e.item Оптимальные сроки доставки грузов: из Европы за 14 суток, из Китая за 35-40 суток
        +e.item Гарантия конечной cтоимости доставки      
        +e.item Оформление грузов под наш контракт, по ЭЦП клиента и под печать таможенного представителя
        +e.item Бесплатный расчет таможенных платежей за 1 час



