include ../abstracts/bemto/bemto.pug

+b.SECTION.contacts-section
  +e.inner.container
    +e.H2.title Контакты
    +e.UL.list
      +e.item 
        +e.text 
          p +7 888 888-88-88
      +e.item 
        +e.text 
          p Санкт-Петербург 
          p Лиговский проспект, 11
      +e.item 
        +e.text 
          p Понедельник - пятница 
          p с 09.00 до 18.00
      +e.item 
        +e.text 
          p info@intergost.ru
  +e.map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3997.614820430253!2d30.36390502758773!3d59.93533784463423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a292889df1%3A0x348f353a276e6279!2z0JvQuNCz0L7QstGB0LrQuNC5INC_0YAuLCAxMSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTAxNA!5e0!3m2!1sru!2sru!4v1475567353432" frameborder="0" style="border:0" allowfullscreen) 

