include ../abstracts/bemto/bemto.pug

+b.SECTION.faq
  +e.inner.container
    +e.H2.title Ответы на частые вопросы
    +e.UL.list
      +e.item
        +e.ask
          p Успеете ли вы все в срок? Нам предлагают быстрее.
        +e.answer
          p Нам важна наработанная годами репутация надежного партнера и мы четко выдерживаем заявленные нами сроки оформления. Мы не даем пустых обещаний. При этом, если есть срочность работы, мы ставим ее в приоритет и всеми силами стараемся уложиться в необходимые вам сроки.
      +e.item
        +e.ask
          p Хватит ли квалификации у ваших сотрудников? 
        +e.answer
          p Сотрудники нашего центра сертификации проходят обучение во Всероссийском научно-исследовательском институте сертификации (ВНИИС) и постоянно повышают свою квалификацию в процессе работы. Поэтому вы можете быть уверены, что закрепленный за вашей компанией личный специалист обладает необходимыми знаниями и опытом для решения задач любой сложности.
      +e.item
        +e.ask
          p Есть ли аккредитация на наш вид продукции?
        +e.answer
          p Наш центр сертификации работает на базе нескольких Органов по сертификации и Испытательных лабораторий, имеющих аккредитацию в тех или иных областях. Таким образом, мы имеем аккредитацию практически на все виды продукции.
      +e.item
        +e.ask
          p Нам предлагают дешевле, хотим взять у них.
        +e.answer
          p Для нас важно оказать вам качественную услугу и оформить документы по всем требованиям законодательства. Наши Органы по сертификации и испытательные лаборатории имеют необходимые аккредитации и доступы к работе. Это отражается и в нашей ценовой политике.
          p Мы несем ответственность за оформленные нами документы.
      +e.item
        +e.ask
          p Чем Вы лучше других организаций?
        +e.answer
          p Наша цель состоит в том, чтобы вы стали нашим постоянным клиентом! Мы стремимся быть профессионалами, ведущими свой бизнес с любовью к своему делу и заботой о вашем комфорте при работе с нами! Именно поэтому мы стараемся максимально быстро давать вам ответы на запросы, организовывать работу в понятном и удобном для вас формате, доставлять вам документы за свой счет и в удобное для вас время.




