include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  +e.inner.container
    +e.logo
      // Logo
      +b.A.logo(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
        img(src="img/logo-footer.png", alt="logo", title="logo", itemprop="logo")
      +e.P.years 1998-2016 гг
    +e.wrapper
      +e.tel
        +e.link--tel(href="tel:+78123350511", target="_blank") +7 (812) 335-05-11
        +b.A.btn--vk(href="https://vk.com/intergostru", target="_blank")
        +b.A.btn--viber(href="tel:+78123350511", target="_blank")
        +b.A.btn--whatsapp(href="tel:+78123350511", target="_blank")
      // Nav
      +b.NAV.nav--footer
        +e.UL.list
          +e.item 
            +e.A.link(href="page-services.html") Услуги
          +e.item 
            +e.A.link(href="page-about.html") О компании
          +e.item
            +e.A.link(href="page-russian.html") Изготовителям РФ
          +e.item
            +e.A.link(href="page-import.html") Импортерам
          +e.item
            +e.A.link(href="page-export.html") Экспортерам
          +e.item
            +e.A.link(href="page-contacts.html") Контакты
+b.A.up(href="#") наверх
+b.modal
  +e.overlay
  +e.form
    +e.A.close(href="#")
    include _form--application.pug
    //- include _form--question.pug



