include ../abstracts/bemto/bemto.pug

+b.SECTION.glossary.container
  +e.H2.title Сертификация по видам продукции
  +e.UL.list
    +e.item 
      +e.A.link(href="page.html") А
    +e.item 
      +e.A.link--active(href="page.html") Б
    +e.item
      +e.A.link(href="page.html") В
    +e.item
      +e.A.link(href="page.html") Г
    +e.item
      +e.A.link(href="page.html") Д
    +e.item
      +e.A.link(href="page.html") Е
    +e.item 
      +e.A.link(href="page.html") Ж
    +e.item 
      +e.A.link(href="page.html") З
    +e.item
      +e.A.link(href="page.html") И
    +e.item
      +e.A.link(href="page.html") К
    +e.item
      +e.A.link(href="page.html") Л
    +e.item
      +e.A.link(href="page.html") М
    +e.item 
      +e.A.link(href="page.html") Н
    +e.item 
      +e.A.link(href="page.html") О
    +e.item
      +e.A.link(href="page.html") П
    +e.item
      +e.A.link(href="page.html") Р
    +e.item
      +e.A.link(href="page.html") С
    +e.item
      +e.A.link(href="page.html") Т
    +e.item 
      +e.A.link(href="page.html") У
    +e.item 
      +e.A.link(href="page.html") Ф
    +e.item
      +e.A.link(href="page.html") Х
    +e.item
      +e.A.link(href="page.html") Ц
    +e.item
      +e.A.link(href="page.html") Ч
    +e.item
      +e.A.link(href="page.html") Ш
    +e.item
      +e.A.link(href="page.html") Щ
    +e.item
      +e.A.link(href="page.html") Ы
    +e.item
      +e.A.link(href="page.html") Э
    +e.item
      +e.A.link(href="page.html") Ю
    +e.item 
      +e.A.link(href="page.html") Я
  +b.glossary-articles
    +e.UL.list(data-letter="Б")
      +e.item 
        +e.A.link(href="page.html") Борщ
      +e.item 
        +e.A.link(href="page.html") Бортпроводник
      +e.item
        +e.A.link(href="page.html") Банановые плантации
      +e.item
        +e.A.link(href="page.html") Балаклава
      +e.item
        +e.A.link(href="page.html") Бутанол
      +e.item
        +e.A.link(href="page.html") Бронетранспортер
      +e.item 
        +e.A.link(href="page.html") Бериллий
      +e.item 
        +e.A.link(href="page.html") Барабанщикова, Анна
      +e.item
        +e.A.link(href="page.html") Босх, Иероним
      +e.item
        +e.A.link(href="page.html") Бартер
      +e.item
        +e.A.link(href="page.html") Бла-бла
      +e.item
        +e.A.link(href="page.html") Баян
      +e.item 
        +e.A.link(href="page.html") Быстросуп