include ../abstracts/mixins/_gratitude-slide.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.gratitude
  +e.gallery.container    
    +gratitudeSlide("ip_balanova.jpg","Отзыв 1", "Название организации в две строчки")
    +gratitudeSlide("souz.jpg","Отзыв 2", "Название организации")
    +gratitudeSlide("ip_balanova.jpg","Отзыв 1", "Название организации в две строчки")
    +gratitudeSlide("souz.jpg","Отзыв 2", "Название организации")
    +gratitudeSlide("ip_balanova.jpg","Отзыв 1", "Название организации в две строчки")
    +gratitudeSlide("souz.jpg","Отзыв 2", "Название организации")
    +gratitudeSlide("ip_balanova.jpg","Отзыв 1", "Название организации в две строчки")
    +gratitudeSlide("souz.jpg","Отзыв 2", "Название организации")



