include ../abstracts/bemto/bemto.pug

+b.SECTION.how-we-work.onScreen
  +e.H2.title Как мы работаем
  +e.inner
    +e.UL.list.container
      +e.item--white
        +e.number 
          span 1
        +e.content
          +e.icon
            span +7 (812) 335-05-11
          +e.text Позвоните нам и получите консультацию клиента
      +e.item--grey
        +e.number 
          span 2
        +e.content
          +e.icon
          +e.text Отправьте документы
      +e.item--blue
        +e.number 
          span 3
        +e.content
          +e.icon
          +e.text Получите документы курьером




