include ../abstracts/mixins/_news-section-item.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.news-section.container
  +e.H2.title Мы следим за ситуацией на рынке
  .row
    .col-xs-12.col-lg-5
      +e.inner
        +b.news-general
          +e.img
            img(src="img/news/news1.jpg", alt="news1", title="news2")
          +e.wrapper
            +e.H3.title
              a(href="single-news.html") Эксперты внесли предложения в порядок совместной работы органов ветеринарии внутри ЕАЭС
            +b.date 11 июня, 2015
            +e.text О взаимодействии всех органов, которые осуществляют надзор за соблюдением СФС-мер в рамках ЕАЭС, шла речь на профильном совещании 14 апреля. В нем приняли участие представители от сран-участниц ЕАЭС, эксперты и другие ....
    .col-xs-12.col-lg-6.offset-lg-1
      +e.other-news
        +newsSectionItem("Оборот табачных изделий будет регулироваться новым стандартом", "11 июня, 2015", "news2.jpg", "news2")
        +newsSectionItem("Мясо и молоко теперь имеют свой собственный технический регламент Таможенного Союза", "11 июня, 2015", "news3.jpg", "news3")
        +newsSectionItem("Стартовало общественное обсуждение изменений в перечне стандартов к ТР ТС 'О безопасности колесных транспортных средств'", "11 июня, 2015", "news4.jpg", "news4")
        +b.all-news
          a(href="page-news.html") Читать все новости
        // Subscribe section
        include _subscribe-section.pug


