include ../abstracts/bemto/bemto.pug

+b.SECTION.our-approach
  +e.inner.container
    +e.content
      +e.H2.title Наш подход
      +e.text Специалисты центра сертификации "Ростест" готовы решить любые задачи, связанные с проведением сертификации
      +b.A.btn(href="#") Заказать сертификат
    +e.facts
      +b.facts--index
        +e.UL.list
          +e.item 
            +e.text
              span.figure 1500
              =" постоянных клиентов месяц в месяц"
          +e.item 
            +e.text
              span.figure 100
              =" офисов в России"        
          +e.item 
            +e.text
              span.figure 20000
              =" документов оформлено"
          +e.item
            +e.text
              span.figure 15
              =" лет работы"  
    +b.advantages
      +e.UL.list
        +e.item 
          +e.text Личный менеджер для вас
        +e.item 
          +e.text Возможность удаленного оформления (все по e-mail)        
        +e.item 
          +e.text Бесплатная доставка по всему миру
        +e.item
          +e.text Работаем со всеми городами России и зарубежья


