include ../abstracts/bemto/bemto.pug

+b.SECTION.our-approach
  +e.inner
    .container
      .row
        .col-xs-12.col-lg-5
          +e.H2.title Наш подход
          +e.text Специалисты центра сертификации "Ростест" готовы решить любые задачи, связанные с проведением сертификации
          +b.A.btn(href="#", data-form="application") Заказать сертификат
        .col-xs-12.col-lg-7
          +e.facts
            +b.facts--index
              +e.UL.list
                +e.item 
                  +e.text
                    span.figure 1500
                    =" постоянных клиентов месяц в месяц"
                +e.item 
                  +e.text
                    span.figure 100
                    =" офисов в России"        
                +e.item 
                  +e.text
                    span.figure 20000
                    =" документов оформлено"
                +e.item
                  +e.text
                    span.figure 15
                    =" лет работы" 
  +e.advantages
    .container    
      include _advantages-blocks.pug



