include ../abstracts/bemto/bemto.pug

// Promo
+b.SECTION.promo--index
  +e.inner.container
    +e.content
      +e.bg
      +b.solution
        +e.H1.title Комплексное решение таможенных и сертификационных вопросов
        +e.P.text Специалисты центра сертификации "Ростест" готовы решить любые задачи, связанные с проведением сертификации.
        +b.A.btn--pale(href="#") Узнать подробнее
    +e.form
      include _form--application.pug   
