include ../abstracts/bemto/bemto.pug

+b.SECTION.reviews
  +e.inner.container
    +e.H2.title Отзывы
    +e.articles
      +b.ARTICLE.review(itemscope, itemtype="http://schema.org/Review")
        +e.text(itemprop="citation")
          p 000 «Атлантида», в лице Ф.В.Ефимова, выражает свою благодарность ЦС «Интергост» за качественную, добросовестную и оперативную работу по подготовке документов по договору поручительства для нашей организации. Гибкий подход и ответственность, a так же профессионализм сотрудников и их индивидуальный подход к решению.
        +e.author(itemprop="author")
          p ООО НТКФ "СИ-НОРД"
      +b.ARTICLE.review(itemscope, itemtype="http://schema.org/Review")
        +e.text(itemprop="citation")
          p Хочу поблагодарить компанию Интергост и, в частности, менеджера Дарью Солареву за оперативность в подготовке разрешительных документов. Работа менеджера была проведена на высшем уровне. Недопонимания не возникло. Рекомендую всем сотрудничать с этой надежной компанией. Успеха и процветания! 
        +e.author(itemprop="author")
          p ЗАО «Перспектива»
      +b.ARTICLE.review(itemscope, itemtype="http://schema.org/Review")
        +e.text(itemprop="citation")
          p Из всех организаций, в которые я обращался за консультацией, именно здесь мне смогли дать толковый ответ, предельно доступно все объяснить!
        +e.author(itemprop="author")
          p ООО "Заря" 
      +b.ARTICLE.review(itemscope, itemtype="http://schema.org/Review")
        +e.text(itemprop="citation")
          p Хочу поблагодарить компанию Интергост и, в частности, менеджера Дарью Солареву за оперативность в подготовке разрешительных документов. Работа менеджера была проведена на высшем уровне. Недопонимания не возникло. Рекомендую всем сотрудничать с этой надежной компанией. Успеха и процветания! 
        +e.author(itemprop="author")
          p ЗАО «Перспектива»
    +b.SECTION.pagination
      +e.A.prev(href="page-reviews.html")
      +e.A.number--current(href="page-reviews.html") 1
      +e.A.number(href="page-reviews.html") 2
      +e.A.number(href="page-reviews.html") 3
      +e.A.next(href="page-reviews.html")
    +b.A.btn--blue(href="#", id="btn-review-dropdown") Оставить отзыв
    +e.form
      include _form--review.pug



