include ../abstracts/bemto/bemto.pug

+b.SECTION.reviews-section.container
  +e.H2.title 
    a(href="page-reviews.html") Отзывы
  +e.gallery
    +b.ARTICLE.review-slide(itemscope, itemtype="http://schema.org/Review")
      +e.text(itemprop="reviewBody")
        p Замечательная работа профессионалов. Оформили документы быстро и грамотно. Оперативно доставили документы с оригинальной печатью к нам в офис, что особенно ценно! Отдельное Спасибо Ирине за консультации и приятное общение! 
      +e.author(itemprop="author")
        p ООО НТКФ "СИ-НОРД"
    +b.ARTICLE.review-slide(itemscope, itemtype="http://schema.org/Review")
      +e.text(itemprop="reviewBody")
        p Замечательная работа профессионалов. Оформили документы быстро и грамотно. Оперативно доставили документы с оригинальной печатью к нам в офис, что особенно ценно! Отдельное Спасибо Ирине за консультации и приятное общение! 
      +e.author(itemprop="author")
        p ООО НТКФ "СИ-НОРД"
    +b.ARTICLE.review-slide(itemscope, itemtype="http://schema.org/Review")
      +e.text(itemprop="reviewBody")
        p Замечательная работа профессионалов. Оформили документы быстро и грамотно. Оперативно доставили документы с оригинальной печатью к нам в офис, что особенно ценно! Отдельное Спасибо Ирине за консультации и приятное общение! 
      +e.author(itemprop="author")
        p ООО НТКФ "СИ-НОРД"