include ../abstracts/bemto/bemto.pug

+b.SECTION.services.container
  +e.H2.title Услуги
  +e.UL.list
    +e.item 
      +e.A.link(href="page.html") Оформление по российским законам
      +b.UL.dropdown-services
        +e.item 
          +e.A.link(href="page.html") Сертификаты и декларации ГОСТ Р
        +e.item 
          +e.A.link(href="page.html") Отказные письма (обычные и ВНИИС)
        +e.item 
          +e.A.link(href="page.html") Пожарные сертификаты и декларации
        +e.item
          +e.A.link(href="page.html") Технические условия (разработка и регистрация) 
        +e.item 
          +e.A.link(href="page.html") Санитарно-эпидемиологические заключения 
        +e.item 
          +e.A.link(href="page.html") Регистрационные удостоверения  Росздравнадзора
        +e.item 
          +e.A.link(href="page.html") Разрешение на применение Ростехнадзора
        +e.item
          +e.A.link(href="page.html") Сертификация услуг 
    +e.item 
      +e.A.link(href="page.html") Оформление по законам таможенного союза
      +b.UL.dropdown-services
        +e.item 
          +e.A.link(href="page.html") Сертификаты и декларации ТР ТС
        +e.item 
          +e.A.link(href="page.html") Гигиенические заключения (СГР и ЭЗ)
        +e.item 
          +e.A.link(href="page.html") СБКТС
        +e.item
          +e.A.link(href="page.html") Оотказные письма (обычные и ВНИИС)
        +e.item 
          +e.A.link(href="page.html") Сертификат промышленной безопасности
    +e.item
      +e.A.link(href="page.html") Прочие документы
      +b.UL.dropdown-services
        +e.item 
          +e.A.link(href="page.html") ИСО и ХАССП
        +e.item 
          +e.A.link(href="page.html") Экологические сертификаты
        +e.item 
          +e.A.link(href="page.html") Присвоение штрих-кодов
        +e.item
          +e.A.link(href="page.html") Протоколы испытаний
        +e.item 
          +e.A.link(href="page.html") Поверка приборов
        +e.item 
          +e.A.link(href="page.html") Фитосанитарные и ветеринарные сертификаты
        +e.item 
          +e.A.link(href="page.html") Озоновые заключения
        +e.item 
          +e.A.link(href="page.html") Сертификаты СЕ
    +e.item
      +e.A.link(href="page.html") Комплексные предложения
      +b.UL.dropdown-services
        +e.item 
          +e.A.link(href="page.html") Пакетное предложение для импортеров
        +e.item 
          +e.A.link(href="page.html") Пакетное предложение для экспортеров
        +e.item 
          +e.A.link(href="page.html") Пакетное предложение для производителей РФ
    +e.item
      +e.A.link(href="page.html") Сертификация по видам продукции
    +e.item
      +e.A.link(href="page.html") Таможенные услуги


